{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание метки</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('point') }}">
            Обратно к списку
        </a>
    </li>
</ul>
{% endblock %}
